<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Browse Profile | Instances</title>

    <link rel="stylesheet" href="styling/general.css">
    <link rel="stylesheet" href="styling/browseProfile.css"/>

</head>

<body>
    <%- include('partials/nav'); %>

    <div class="outerAlignDiv">
        <div class="middleAlignDiv">
            <div class="innerAlignDiv">
            <div class="contentAlignDiv">
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <img src="<%# %>" alt="Profile Image" class="profile-img">
                            </div>
                            <div class="card-body">
                                <a href="" class="btnProPic" data-toggle="modal" data-target="#modalProfilePictureForm">Edit Profile Picture</a>
                                <p class="userName"><%# %>EJS Numpty Dumpty (NickName)</p>
                                <p class="gender"><%# %>EJS Gender</p>
                                <p class="desc"><%# %> EJS Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
                            </div>
                            <div class="card-footer">
                                <div class="col vr">
                                    <p><span class="count"><%#joinedEventsa%>Number EJS</span> Joined Events</p>
                                    <p><span class="count"><%#createdEvents%>Number EJS</span> Events Hosted</p>
                                </div>
                                <div class="col">
                                    <!-- <button type="submit" name="button">Edit Profile</button> -->
                                    <div class="text-center">
                                        <a href="" class="btn" data-toggle="modal" data-target="#modalProfileForm">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row rightContainer">
                            <div class="col-12">
                                <div class="cardSmall cardFutureEvents">
                                    <div class="smallTitle">
                                        Coming Events
                                    </div>
                                    <ul class="eventList">
                                        <li>
                                            <a class="row eventRow">
                                                <div class="col-8">EJS Event Name <%#EventName%></div>
                                                <div class="col-4 eventStatus">EJS Accepted <%#Status%></div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="row eventRow">
                                                <div class="col-8">EJS Another Events Name <%#EventName%></div>
                                                <div class="col-4 eventStatus">EJS Rejected <%#Status%></div>
                                              </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="cardSmall cardPastEvents">
                                    <div class="smallTitle">
                                        Past Events
                                    </div>
                                    <ul class="eventList">
                                        <li>
                                            <div class="row eventRow">
                                                <div class="col-8">EJS Event Name <%#EventName%></div>
                                                <div class="col-4 eventStatus">EJS Accepted <%#Status%></div>
                                              </div>
                                        </li>
                                        <li>
                                            <div class="row eventRow">
                                                <div class="col-8">EJS Another Events Name <%#EventName%></div>
                                                <div class="col-4 eventStatus">EJS Rejected <%#Status%></div>
                                              </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
        


<%# --------------- EDIT PROFILE MODAL --------------- %>

        <div class="modal fade" id="modalProfileForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Edit Your Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                  <i class="fas fa-user prefix grey-text"></i>
                  <label data-error="wrong" data-success="right" for="orangeForm-name">Nickname</label>
                  <input type="text" id="orangeForm-name" class="form-control validate" placeholder="Fetch data from server <%# %>">
                </div>
                <div class="md-form mb-5">
                  <i class="fas fa-envelope prefix grey-text"></i>
                  <label data-error="wrong" data-success="right" for="orangeForm-email">Gender</label>
                    <select type="email" id="orangeForm-email" class="form-control validate" placeholder="Fetch data from server <%# %>">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
        
                <div class="md-form mb-4">
                  <i class="fas fa-lock prefix grey-text"></i>
                  <label data-error="wrong" data-success="right" for="orangeForm-pass">Description</label>
                  <input type="password" id="orangeForm-pass" class="form-control validate" placeholder="Fetch data from server <%# %>">
                </div>
        
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-deep-orange btnSave" type="submit">Save Profile</button>
              </div>
            </div>
          </div>
        </div>

    <%# --------------- EDIT PROFILE PICTURE MODAL --------------- %>

    <div class="modal fade" id="modalProfilePictureForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Edit Your Profile Picture</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" for="orangeForm-name">Upload Your Photo</label>
                    <input type="File" id="orangeForm-name" class="form-control validate" placeholder="">
                </div>
    
            </div>
            <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-deep-orange btnSave" type="submit" onclick="uploadPhoto()" id="uploadPhoto" value="Upload">Save Profile Picture</button>
            </div>
        </div>
        </div>
    </div>

    </div>

        
        
    <script src="javascript/general.js"></script>
</body>

</html>