<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styling/general.css" />
    <link rel="stylesheet" href="/styling/error.css" />

    <title>Error Page</title>
  </head>

  <body>
    <!----------------- Header / Icon ----------------->
    <div class="no-nav-header-alt">
      <div id="temporary-icon-alt">Ins</div>
    </div>

    <div class="container">
      <h1>ERROR!</h1>
      <p>Oops! Something Went Wrong...</p>
    </div>
  </body>
</html>
