<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styling/general.css" />
    <link rel="stylesheet" href="/styling/error.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">


    <title>Error Page</title>
  </head>

  <body>
    <!----------------- Header / Icon ----------------->
    <div class="no-nav-header-alt">
      <div id="temporary-icon-alt"><i class="fas fa-kiwi-bird errorKiwi"></i></div>
    </div>

    <div class="container">
      <h1>ERROR!</h1>
      <p>Oops! Something Went Wrong...</p>
    </div>
  </body>
</html>
