<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Index Page</title>
  </head>

  <body>
    <h1>Instances</h1>

    <a href="/secret"><button type="button" name="button">secret</button></a>

    <a href="/login"><button type="button" name="button">login</button></a>

    <a href="/signup"><button type="button" name="button">signup</button></a>
  </body>
</html>
