*{
margin: 0;
padding:0;
}

body{
    font-size: 16px;
    background-color: rgba(rgb(39, 39, 39), green, blue, alpha);
    overflow: hidden;
}

/**************** index page ***************/


/**************** chat page ****************/
ul{
    list-style: none;
}

.all {
    max-width: 1000px;
    min-height: 100vh;
	margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerDiv{
    border: 1px solid rgb(255, 55, 100);
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    min-width: 1000px;
}

.header {
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
    background: linear-gradient(-45deg, rgba(255,15,123), rgba(250, 55, 50), rgba(255, 150, 21));
    background-size: 300% 300%;
    -webkit-animation: gradientBG 3s ease infinite;
            animation: gradientBG 3s ease infinite;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.divTitle{
	display: flex;
}

.sendBtn{
    color:#fff;
    background-color: rgb(255, 55, 100);
    font-weight: bold;
}

.chatKiwi{
	font-size:2rem;
	color: #eee;
	padding-right: 0.5rem;
}

.leaveRoom{
    color: rgb(255, 55, 100);
    background-color: #fff;
    border-radius:2rem;
    font-size: 0.8rem;
}

.sidebar{
    /* padding: 20px 20px 60px; */
    overflow-y: scroll;
}
.sidebarheaders{
    font-size: 20px;
    font-weight: bold;
}

#room-name{
    font-size: 15px;
}

#users{
    font-size: 15px;
    /* this padding is to make the ul line up properly */
    padding: 0;
}

.chat-messages {
	padding: 30px;
    max-height: 700px;
    min-height: 700px;
	overflow-y: scroll;
}

.message{
	padding: 10px;
	margin-bottom: 15px;
	background-color: rgb(255, 167, 186);
	border-radius: 5px;
	overflow-wrap: break-word;
}
.meta {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}
span {
	opacity: 0.7;
}

.chat-msg-container {
	padding: 20px 30px;
}

.chat-msg-container form {
	display: flex;
}

.chat-msg-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}